html {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before,
body,
form,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

li,
button {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --background-main: #e6e7e9;
  --background-3: #a3a3a3;
  --height-header-mobile: 8rem;
  --height-header-boxes: 50%;
  --margin-header-boxes: 1rem;
  --width-header-box: 7rem;
  --size-header-media-circles-mobile: 2rem;
  --margin-top-general: 2rem;
  --margin-top-button-mainBox: 1.2rem;
  --font-size-menu: 1.25rem;
  --shadow-boxes: 1px 1px 0.5rem 1px;
  /** Screen 768 **/
  --height-header-768: 10rem;
  --width-header-box-768: 8rem;
  --size-header-media-circles-768: 2rem;
  /** Screen 1024 **/
  --height-header-1024: 7rem;
  --height-header-1024: 12rem;
  --width-header-box-1024: 9rem;
  --size-header-media-circles-1024: 3rem;
}

/** ======================================================================                                                         Mobile
========================================================================== 
**/

body {
  display: flex;
  justify-content: center;
  width: 100%;

  font-family: "Big Shoulders Display", cursive;
  font-family: "Lobster", cursive;
}

.main-box {
  flex-basis: 80%;
  margin: var(--margin-top-button-mainBox) 2rem;

  display: flex;
  flex-direction: column;

  background-color: var(--background-main);
}

/* Header
===================================================*/
.header {
  display: flex;
  align-items: center;
  height: var(--height-header-mobile);
  justify-content: space-between;

  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__box-left {
  flex-basis: var(--width-header-box);
  height: var(--height-header-boxes);
  margin-left: var(--margin-header-boxes);
}

.header__logo {
  width: 100%;
  height: 100%;
}

.header__media-box {
  display: flex;
  align-items: center;
  flex-basis: 10rem;
  gap: 0.4rem;
  height: var(--height-header-boxes);
  justify-content: flex-end;
  margin-right: var(--margin-header-boxes);
}

.header__media-item {
  border-radius: 50%;
  flex-basis: var(--size-header-media-circles-mobile);
  height: var(--size-header-media-circles-mobile);
}

/* Menu
===================================================*/
.menu {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top-general);
}

.menu__item {
  height: 100%;
  width: 100%;

  background-color: rgb(243, 57, 58);
  border: 1px solid var(--background-main);

  font-size: var(--font-size-menu);
  text-align: center;
}

.menu__link {
  height: 100%;
  color: black;
  transition: transform 0.2s;
}

.menu__link:hover {
  height: 100%;

  color: white;
  background-color: rgb(201, 0, 0);

  font-weight: bold;

  transform: scale(1.02);
}

/* cards
===================================================*/
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: var(--margin-top-general);
}

.cards__item {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  box-shadow: var(--shadow-boxes);
  background-color: white;
}

.cards__title {
  text-align: center;
  -webkit-margin-before: 0.5rem;
  margin-block-start: 0.5rem;
  -webkit-margin-after: 0.5rem;
  margin-block-end: 0.5rem;
}

.cards__img {
  width: 100%;
}

.btn {
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  box-shadow: inset 1px 1px 0.5rem 1px;
}

/* Section - Article
===================================================*/
.section-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--margin-top-general);
  width: 100%;
  height: 100%;

  background-color: var(--background-3);
}

.article {
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  height: 100%;
  border: 0.01rem solid rgb(228, 228, 228);
  box-shadow: var(--shadow-boxes);
  -webkit-margin-before: 1rem;
  margin-block-start: 1rem;

  background-color: white;
}

.article-title {
  text-align: center;
}

.article-title,
.article-text {
  -webkit-margin-before: 0.5rem;
  margin-block-start: 0.5rem;
}

.article-text {
  padding: 0 0.5rem;
}
.article > .btn {
  -webkit-margin-before: 1rem;
  margin-block-start: 1rem;
}

/* Footer
===================================================*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  margin-top: var(--margin-top-general);
  padding: 1rem 0;

  background-color: #fa4a3b;

  font-family: "Open Sans";
  font-weight: 600;
}

.footer__autor {
  font-size: 0.8rem;
}

.footer__autor img {
  width: 20px;
  height: 20px;
}

.footer__email {
  color: white;
  font-size: 0.9rem;
}

.copyR {
  color: white;
  font-size: 0.7rem;
}

.footer-box__icon {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.fa-github,
.fa-gitlab,
.fa-codepen {
  font-size: 20px;
}

.fa-github {
  color: black;
}

.fa-gitlab {
  color: rgb(202, 17, 17);
}

.footer-icon__item .fa-codepen {
  color: black;
}

/** =========================================================================                                                         Media Querie 768
========================================================================== 
**/
@media screen and (min-width: 768px) {
  .main-box {
    justify-content: space-between;
  }

  /* Header
===================================================*/
  .header {
    height: var(--height-header-768);
  }

  .header__box-left {
    flex-basis: var(--width-header-box-768);
  }

  .header__media-item {
    flex-basis: var(--size-header-media-circles-768);
    height: var(--size-header-media-circles-768);
  }

  /* Menu
===================================================*/
  .menu {
    flex-direction: row;
    flex-basis: 1;
    height: auto;
  }

  .menu__item {
    flex-basis: 100%;
  }

  /* Cards
===================================================*/
  .cards {
    flex-direction: row;
  }

  .cards__item {
    flex-basis: 1;
    height: 100%;
  }
}

/** =========================================================================                                                         Media Querie 1024
========================================================================== 
**/
@media screen and (min-width: 1024px) {
  .header {
    flex-basis: 1;
    height: var(--height-header-1024);
  }

  .header__box-left {
    flex-basis: var(--width-header-box-1024);
  }

  .header__media-item {
    flex-basis: var(--size-header-media-circles-1024);
    height: var(--size-header-media-circles-1024);
  }

  .article {
    flex-basis: 50%;
  }
}
